{{!-- Button trigger modal --}}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addMonthlyDataModal">
  Ajouter donnée
</button>

{{!-- Add Monthly Data Modal --}}
<div class="modal fade" id="addMonthlyDataModal" tabindex="-1" aria-labelledby="addMonthlyDataModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addMonthlyDataModalLabel">Ajouter une donnée mensuelle de Deezer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
      </div>
      <div class="modal-body">
        <div class="input-group">
            {{> modules/usernameInput id="addMonthlyDataUsername"}}
            {{> modules/yearInput id="addMonthlyDataYear"}}
            {{> modules/monthsDropdown id="addMonthlyDataMonth"}}
        </div>

        <hr>

        <div>
          <input id="addMonthlyDataEmail" type="file" name="email" class="form-control" accept=".eml"/>
          <button class="btn btn-info" onclick="getMonthlyDataFromEmail()">Récupérer les données depuis le mail</button>
        </div>

        <hr>

        <div>
            <input id="addMonthlyDataSongs" type="number" class="form-control" placeholder="Songs"/>
            <input id="addMonthlyDataMinutes" type="number" class="form-control" placeholder="Minutes"/>
            <input id="addMonthlyDataSongsPerDay" type="number" class="form-control" placeholder="Songs per day"/>
            <input id="addMonthlyDataTopArtist" type="text" class="form-control" placeholder="Top artist"/>
            <div>
                <h5>Top chansons :</h5>
                <ul>
                    <li>
                        {{> modules/topSongInput idName="addMonthlyDataTopSong1Name" idArtist="addMonthlyDataTopSong1Artist"}}
                    </li>
                    <li>
                        {{> modules/topSongInput idName="addMonthlyDataTopSong2Name" idArtist="addMonthlyDataTopSong2Artist"}}
                    </li>
                    <li>
                        {{> modules/topSongInput idName="addMonthlyDataTopSong3Name" idArtist="addMonthlyDataTopSong3Artist"}}
                    </li>
                </ul>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary" onclick="sendMonthlyData()">Sauvegarder</button>
        {{> modules/loader id="addMonthlyDataLoader"}}
      </div>
    </div>
  </div>
</div>

<script src="./js/addMonthlyDataForm.js"></script>