<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">{{> home}}</div>
    <div class="tab-pane fade" id="nav-monthlyData" role="tabpanel" aria-labelledby="nav-monthlyData-tab">{{> monthlyData}}</div>
    <div class="tab-pane fade" id="nav-compare" role="tabpanel" aria-labelledby="nav-compare-tab">{{> compare}}</div>
</div>