<div class="input-group col-12">
    <div class="col-md-3">
        {{> modules/usernameInput id="usernameMonthlyData"}}
    </div>
    <div class="col-md-3">
        {{> modules/yearInput id="yearMonthlyData"}}
    </div>
    <div class="col-md-3">
        {{> modules/monthsDropdown id="monthMonthlyData"}}
    </div>
    <div class="col-md-3">
        <button id="monthlyDataSearch" class="btn btn-primary" onclick="searchMonthlyData()">Chercher</button>
    </div>
</div>

<div class="col-12">
    {{> modules/loader id="monthlyDataLoader"}}
</div>

{{> addMonthlyDataForm}}

<div id="monthlyDataContent" class="hidden">
    <h3>Mon mois de <span id="monthlyDataContentMonth"></span></h3>
    <div>
        <p><span id="monthlyDataContentSongs"></span> chansons écoutées</p>
        <p><span id="monthlyDataContentMinutes"></span> minutes écoutées</p>
        <p><span id="monthlyDataContentSongsPerDay"></span> chansons écoutées par jour</p>
        <br>
        <p>Top artiste : <span id="monthlyDataContentTopArtist"></span></p>
        <ul>
            <li id="monthlyDataContentTopSong1"></li>
            <li id="monthlyDataContentTopSong2"></li>
            <li id="monthlyDataContentTopSong3"></li>
        </ul>
    </div>
</div>

<script src="./js/monthlyData.js"></script>