<nav class="navbar navbar-expand-md navbar-light bg-light">
    <span class="navbar-brand">{{subject}}</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav nav" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                    type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-monthlyData-tab" data-bs-toggle="tab" data-bs-target="#nav-monthlyData"
                    type="button" role="tab" aria-controls="nav-monthlyData" aria-selected="false">
                    Monthly data
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-compare-tab" data-bs-toggle="tab" data-bs-target="#nav-compare"
                    type="button" role="tab" aria-controls="nav-compare" aria-selected="false">
                    Compare data
                </a>
            </li>
        </ul>
    </div>
</nav>