<!DOCTYPE html>
<html lang="fr">

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/index.css" />
    <title>
        {{subject}}
    </title>
</head>

<body>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="./js/index.js"></script>
    <script src="./js/months.js"></script>
    <script src="./js/api.js"></script>

    <div class="container mt-2">
        {{>navigation}}
        {{>content}}
    </div>
</body>

</html>